.python-version
__pycache__/
*.pyc
.venv/
venv/

.env
.env.*

.DS_Store
.vscode/

pyproject.toml
uv.lock

vectorstore/*
!vectorstore/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/raw/*
!data/raw/.gitkeep

outputs/*
!outputs/.gitkeep

sample.pdf