__pycache__/
*.pyc
.venv/
venv/

.env
.env.*

.DS_Store
.vscode/

PRESENTATION_NOTES.md

vectorstore/*
!vectorstore/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/raw/*
!data/raw/.gitkeep

outputs/*
!outputs/.gitkeep