__pycache__/
*.pyc
.venv/
venv/

.env

vectorstore/*
!vectorstore/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/raw/*
!data/raw/.gitkeep

outputs/*
!outputs/.gitkeep

.DS_Store

sample.pdf